#main{
	width:75em;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
}

#navbar{
	width:50em;
	overflow:hidden;
	margin-right:auto;
	margin-left:auto;
}

#navbar li:hover ul:hover li{
	color:red;
}

#navbar li:hover ul:hover li:hover{
	color:magenta;
}

#navbar li{
	width:10em;
	text-align:center;
	position:relative;
}

.category{
	float:left;
	list-style:none;
}
.category:hover{
	color:orange;
}
.category:hover ul li{
	display:block;
}

.inneritems{
	float:left;
	margin:0px;
	padding:0px;
	text-align:center;
}

.outeritems{
	list-style:none;
}

.notfirstitem{
	margin:0px;
	padding:0px;
	display:none;	
}